* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;

}

.nav_bar {
    background-color: rgb(94, 92, 92);
    margin: auto;
    width: 100%;
    padding: 15px 150px;
    text-align: right;

}

.nav_bar a {
    color: aliceblue;
    font-size: 15px;
    padding-right: 10px;



}

header {
    width: 100%;
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;

}

span {
    color: black;
    font-size: small;

}

#about {
    color: aliceblue;
}

.logo {
    visibility: hidden;
}

.navigation a {
    text-transform: uppercase;
    color: rgb(252, 248, 248);
    font-size: small;
    padding: 22px;

}

.secondnav {
    background-color: tomato;
}

.top {
    display: flex;
    padding: 15px;
    background-color: tomato;
    width: 100%;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.contact{
text-align: center;
padding: 50px;
background-color: rgb(222, 222, 240);
width: 100%;
}
p{
  margin: auto 80px;
  color: rgb(91, 88, 88);
}
/* label */
#form{
    
    padding: 30px;
    margin: 30px;
}
#label{
    border: 2px solid rgb(220, 86, 62);
    border-radius: 3px;
    background-color: tomato;
    color: aliceblue;
 margin: 50px;
    /* padding:10px ; */
    padding-top: 10px;
    padding-right: 900px;
    padding-bottom: 10px;
    padding-left: 10px;

  
   
}
#icon{
    /* background-color: rgb(246, 63, 30); */
    padding: 9px;
  
}
/* cards */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card {
    text-align: center;
}

.imgCard {
    height: 40%;
}


/* footer */
.footer{
    background-color: rgb(94, 92, 92);
    margin: auto;
    width:100%;
    padding: 15px 200px;
    text-align: center;
    justify-content: space-between;


}
.footer a{
    color: aliceblue;
    font-size:20px;
    padding-right: 20px;
    border-radius:50%;

}